* {
    font-size: 18px;
}

body {
    background-color: hsl(0,0%,11%);
    color: hsl(0, 0%, 75%);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    background-color: hsl(0, 0%, 17%);
    border: 1px solid hsl(0, 0%, 25%);
    color: hsl(0, 0%, 75%);
    outline: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px 18px 0px;
    box-sizing: border-box;
}

::placeholder {
    color: hsl(0, 0%, 75%);
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    border: 3px solid hsl(0, 0%, 25%);
}

.register, .login {
    display: inline-block;
    margin-top: 8px;
}